@import "../UtilStyles/_colors.scss";

.content {
  margin-left: 3rem;
  h1 {
    text-align: center;
    margin: 0 0 3rem 0;
    padding: 0;
    font-size: 2.4rem;
  }

  //Tech
  ul.technologies {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      margin: 1em;
      padding: 10px;
      height: 6rem;
      width: 6rem;
      box-shadow: 1px 2px 3px 2px rgb(199, 198, 198);
      background-color: #f0f0f0;
    }

    h5 {
      margin: 15px 0;
    }
  }

  // Projects
  .projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    .project {
      margin: 1rem;
      padding: 1.2rem;
      list-style-type: none;
      border: 1px solid $blue;
      border-radius: 5px;
      box-shadow: 1px 1px 3px 0px $blue;
      a {
        text-decoration: none;
        color: $black;
      }
      h4 {
        margin-top: 0;
        color: $blue;
        
      }

      &:hover {
        background-color: lighten($blue, 60%);
        transition: 0.5s;
      }
    }
  }
}
