@import "../UtilStyles/_colors.scss";
@import "../UtilStyles/_mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Josefin+Sans:wght@500&family=Raleway:wght@500&display=swap');

.side-menu {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 2rem 1rem;
  padding: 1vw;
  width: 25%;
  height: 100%;
  list-style-type: none;
  opacity: 0.95;

  h1 {
    font-family: 'Eagle Lake', cursive;
    margin-bottom: 5rem;
    margin-top: 0;
    border-bottom: 2px solid $purple;
  }
  .menu-link {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 0 30px 10px;
    text-decoration: none;
    font-size: 1.5em;
    font-family: "Raleway", sans-serif;
    color: $purple;

    @include anchor_purple;
    // Animation
    .hover {
      text-align: center;
      margin: 0 auto;
      padding: 0;
      transition: all 0.2s ease-in-out;
      position: relative;
      &:before,
      &:after {
        content: "";
        position: absolute;
        bottom: -8px;
        width: 0px;
        height: 2px;
        transition: all 0.2s ease-in-out;
        transition-duration: 0.5s;
        opacity: 0;
        background-color: darken($purple, 5%);
      }
      &.hover-center {
        &:before {
          left: 50%;
        }
        &:after {
          right: 50%;
        }
      }
    }
    &:hover {
      cursor: pointer;
      .hover {
        &:before,
        &:after {
          width: 100%;
          opacity: 1;
        }
        &.hover-center {
          &:before,
          &:after {
            width: 50%;
          }
        }
      }
    }
  }
}

@media screen and (max-height: 750px) {
  .side-menu {
    margin: 0 0.3em;
    h1 {
      margin: 1em 0 ;
    }
    .menu-link {
      font-size: 1.3em;
    }
  }
}

@media screen and (max-height: 620px) {
  .side-menu {
    .menu-link {
      font-size: 0.9em;
    }
  }
}

@media screen and (max-height: 580px) {
  .side-menu {
    h1 {
      font-size: 1.3rem;
    }
    .menu-link {
      margin: 0 0 10px 10px;
      font-size: 0.7em;
    }
  }
}

@media screen and (max-height: 420px) {
  .side-menu {
      overflow: scroll;
      width: 35%;
    h1 {
      font-size: 1.3rem;
    }
    .menu-link {
      margin: 0 0 10px 10px;
      font-size: 0.7em;
    }
  }
}
