@import "../UtilStyles/_colors.scss";
@import "../UtilStyles/_mixins.scss";

#contact {
  #socialmedia {
    display: flex;
    justify-content: center;
    a {
      @include anchor_blue;
      margin: 0 1rem;
    }
  }
  h4 {
    span {
      color: $blue;
      text-decoration: underline;
    }
  }
  form {
    display: flex;
    flex-flow: column nowrap;
    .button {
      display: flex;
      justify-content: center;
      margin-top: 0.8rem;
      button {
        padding: 3px;
        width: 25%;
        border: 1px solid $blue;
        border-radius: 5px;
      }
    }
  }
}
