@import "../UtilStyles/_colors.scss";

.projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  .project {
    min-height: 200px;
    width: 25vw;
    margin: 1rem;
    padding: 1.2rem;
    list-style-type: none;
    border: 1px solid $blue;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 0px $blue;

    @media (max-width: 600px) {
      width: auto;
    }
    a {
      text-decoration: none;
      color: $black;
    }
    h4 {
      margin-top: 0;
      color: $blue;
    }

    &:hover {
      background-color: lighten($blue, 60%);
      transition: 0.5s;
    }
  }
}
