@import "../UtilStyles/_colors.scss";

.projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  .project {
    min-height: 200px;
    width: 30vw;
    margin: 2rem;
    list-style-type: none;
    border: 1px solid $blue;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 0px $blue;
    &:hover {
      background-color: lighten($blue, 60%);
      transition: 0.5s;
    }

    @media (max-width: 980px) {
      width: 26vw;
      margin: 0.5rem;
    }
    @media (max-width: 600px) {
      width: auto;
      margin: 3rem 2rem;
    }
    a {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: $black;
    }
    img {
      width: 98%;
      margin: 5px;
      border-radius: 5px;
      border: 1px solid $blue;
    }
    div.card-txt {
      margin: 0.8rem;
      padding: 0;

      h4 {
        margin-top: 0;
        color: $blue;
      }
    }
  }
}
