@import "../UtilStyles/_colors.scss";

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 100vw;
    background-color: $black ;
    color: #E5E5E5;
}