@mixin anchor_purple {
    text-decoration: none;
    &:link,
    &:active,
    &:visited {
      color: $purple;
    }
    &:hover {
      color: darken($purple, 20%);
    }
}

@mixin anchor_blue {
    text-decoration: none;
    &:link,
    &:active,
    &:visited,
    &:hover {
      color: $blue;
    }
}


@mixin anchor_platinum{
    text-decoration: none;
    &:link,
    &:active,
    &:visited,
    &:hover {
      color: $platinum;
    }
}

@mixin anchor_lightblue{
    text-decoration: none;
    &:link,
    &:active,
    &:visited {
      color: $lightblue;
    }
    &:hover {
      color: $blue;
    }
}