@mixin anchor_purple {
    text-decoration: none;
    &:link,
    &:active,
    &:visited,
    &:hover {
      color: $purple;
    }
}

@mixin anchor_blue {
    text-decoration: none;
    &:link,
    &:active,
    &:visited,
    &:hover {
      color: $blue;
    }
}


@mixin anchor_platinum{
    text-decoration: none;
    &:link,
    &:active,
    &:visited,
    &:hover {
      color: $platinum;
    }
}