@import "../UtilStyles/_colors.scss";

#footer {
  display: flex;
  justify-content: space-evenly;
  height: 3rem;
  background-color: $black;
  color: #e5e5e5;

  a {
    margin: auto 0;
    text-decoration: none;
    text-shadow: 1px 1px 4px $platinum;
    &:hover,
    &:active,
    &:link,
    &:visited {
      color: $platinum;
    }
  }
}
