html {
  min-height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  /* overflow: auto; */
}
body {
  /* position: relative; */
  min-height: 100vh;
  min-width: 100%;
  margin: 0;
  /* overflow: auto; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  min-height: 100vh;
}
