@import "../UtilStyles/_colors.scss";
@import "../UtilStyles/_mixins.scss";

#burger {
  padding: 15px;
  font-size: 20px;
  background-color: $black;
  color: $platinum;
  border: none;
  div {
    width: 30px;
    height: 8px;
    border-bottom: 2px solid $platinum;
  }
}

#menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 25vh;
  width: 100%;
  padding: 20px;
  background-color: $black;
  color: $platinum;
  border: none;
  opacity: 0.8;
  a {
    @include anchor_platinum;
    padding: 8px;
    font-size: 18px;

  }
}
