@import "../UtilStyles/_colors.scss";
@import "../UtilStyles/_mixins.scss";


#footer {
  display: flex;
  justify-content: space-evenly;
  height: 5rem;
  background-color: $black;
  color: #e5e5e5;

  a {
    margin: auto 0;
    text-decoration: none;
    @include anchor_platinum;
    &:hover{
      text-shadow: 1px 1px 3px $platinum;
    }
  }
}
