@import "../UtilStyles/_colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
#hero {
    display: flex;
    align-items: center;
    height: 22rem;
    width: 100vw;
    background-image: url('../logos/hero.jpg');
    background-size: cover ;
    background-color: $black ;
    

    h1 {
        width: 100%;
        margin-left: 5rem;
        font-family: 'Black Ops One', cursive;
        color: rgb(46, 46, 46);
        text-shadow: -1px 0px 2px white;
    }
}
